[include]
    path = ~/.gitconfig.private
[user]
    name = hekt
    email = hektorg@gmail.com
[core]
    editor = vi
    pager = less
    excludesfile = ~/.gitignore.global
[color]
    ui = true
[url "git@github.com:"]
	pushInsteadOf = git://github.com/
